@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    --cord:#7B07E3;
    --cord2:#CB05FA;
    --corp: #4608FD;
}

body{
    background-color: var(--cord);
}

section#login{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.438);
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10vh;
    width: 80vw;
}

div#imagem{
    background-image: url(../imagens/Background.jpeg);
    background-position: center center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30vh;
}

div#formulario{
    padding: 10px;
}

div#formulario h1{
    text-align: center;
    margin-bottom: 5px;
}

div#formulario p{
    padding-top:3px;
    text-align: left;
    font-size: small;
    margin-bottom: 5px;
}

img.icon{
    cursor: pointer;
    padding-right: 2px;
    padding-top: 2px;
    width: 20px;
    transform: translateY(1.5px);
}

div.pree{
    padding-top: 1px;
    border: 2px solid var(--corp);
    background-color: var(--corp);
    border-radius: 5px;
    width: 70vw;
    margin: 5px;
    text-align: center;
}

.caixa{
    background-color: antiquewhite;
    border-radius: 3px;
    padding: 4px;
    border: none;
    width: 55vw;
    height: 15px;
    transform: translateY(-4.3px);
}

#submit{
    color: white;
    margin: auto;
    border: none;
    border-radius: 4px;
    background-color: #53AAA7;
    padding: 10px;
    margin: 5px;
    width: 70vw;
}

#submit:hover{
    cursor: pointer;
    background-color: #2D6462;
    
}

div#EMS{
    text-align: center;
}

#Esqueci{
    color: #397573;
    border: 1px solid #53AAA7;
    border-radius: 4px;
    width: 70vw;
    background-color: white;
    padding: 10px;
}

#Esqueci:hover{
    background-color: #6CD3CF;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1100px){

    *{
        margin: 0px;
    }
    
    html{
        background-image: linear-gradient(to bottom, var(--cord2), var(--cord));
        height: 100vh;
    }

    body{
        border-radius: 20px;
        width: 80vw;
        height: 40.5vh;
        margin: auto;
    }

    section#login{
        border-radius: 20px;
        padding: 0px;
        margin-top: 30vh;
        width: 80vw;
        height: 45vh;
    }

    div#imagem{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        text-align: left;
        background-position: center right;
        float: left;
        height: 45vh;
        width: 30vw;
    }

    #formulario{
        padding: 0px;
        width: 45vw;
        margin-left: 30vw;
    }

    #formulario p{
        padding-left: 7px;
    }

    div.pree{
        padding: 0px;
        text-align: center;
        width: 47vw;
    }

    img.icon{
        margin-top: 2px;
    }

    .caixa{
        background-color: antiquewhite;
        width: 42vw;
    }

    #submit{
        width: 47.5vw;
    }

    #Esqueci{
        margin-left: 5px;
        width: 47.5vw;
        transform: translateX( 50px);
    }
}

@media screen and (min-width: 1100px){

    *{
        margin: 0px;
    }

    html{
        background-image: linear-gradient(to bottom, var(--cord2), var(--cord));
        height: 100vh;
    }

    body{
        border-radius: 20px;
        width: 800px;
        height: 300px;
        margin: auto;
    }

    section#login{
        margin-top: 25vh;
        height: 300px;
        width: 800px;
    }

    div#imagem{
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
        width: 350px;
        height: 300px;
        background-position: left center;
        float: left;
    }

    div#formulario{
        text-align: right;
        margin-left: auto;
        padding-right: 20px;
        padding-top: 25px;
        width: 400px;
    }

    div.pree{
        text-align: center;
        width: 400px;
    }

    .caixa{
        width: 350px;
    }

    #submit{
        padding-right: 0px;
        padding: 10px;
        margin-bottom: 5px;
        width: 405px;
    }

    #Esqueci{
        margin-left: auto;
        width: 405px;

        transform: translateX( 5px);
    }
}