@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    --cord:#FCD303;
    --cord2: #5e4e00;
    --corp: #E6BB09;
}

body{
    background-color: #E6BB09;
}

section#login{
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.438);
    background-color: white;
    border-radius: 10px;
    margin: auto;
    margin-top: 10vh;
    width: 80vw;
}

div#imagem{
    background-image: url(../imagens/Fundo\ Login.jpg);
    background-position: center center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30vh;
}

div#formulario{
    padding: 10px;
}

div#formulario h1{
    text-align: center;
    margin-bottom: 5px;
}

div#formulario p{
    padding-top:3px;
    text-align: left;
    font-size: small;
    margin-bottom: 5px;
}

img.icon{
    padding-right: 2px;
    padding-top: 2px;
    width: 20px;
    transform: translateY(1.5px);
}

div.pree{
    padding-top: 1px;
    border: 2px solid #FCD303;
    background-color: #FCD303;
    border-radius: 5px;
    width: 70vw;
    margin: 5px;
    text-align: center;
}

.caixa{
    border-radius: 3px;
    padding: 4px;
    border: none;
    height: 15px;
    transform: translateY(-4.3px);
}

div#Entrar{
    text-align: center;
}

#submit{
    color: white;
    margin: auto;
    border: none;
    border-radius: 4px;
    background-color: #53AAA7;
    padding: 10px;
    margin: 5px;
    width: 70vw;
}

#submit:hover{
    background-color: #2D6462;
    
}

div#EMS{
    text-align: center;
}

#Esqueci{
    color: #397573;
    border: 1px solid #53AAA7;
    border-radius: 4px;
    width: 70vw;
    background-color: white;
    padding: 10px;
}

#Esqueci:hover{
    background-color: #6CD3CF;
}

@media screen and (min-width: 768px) and (max-width: 1100px){

    *{
        margin: 0px;
        padding: 0px;
    }

    html{
        background-image: linear-gradient( to bottom, var(--cord) 40%, var(--cord2));
    }

    body{
        border-radius: 10px;
        width: 90vw;
        margin: auto;
        margin-bottom: 40vh;
    }

    section#login{
        border-radius: 10px;
        margin-top: 30vh;
        width: 90vw;
    }

    div#imagem{
        background-position: center bottom;
        float: right;
        width: 45vw;
        border-top-right-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 10px;
        height: 248.9px;
    }

    #formulario{
        display: block;
        text-align: left;
        width: 45vw;
    }

    div.pree{
        padding: 0px;
        text-align: left;
        width: 40vw;
    }

    .caixa{
        width: 35vw;
        transform: translateY(-3px);
    }

    img.icon{
        padding-top: 1px;
        padding-right: 0px;
        padding-bottom: 1px;
        padding-left: 5px;
        transform: translateY(3px);
    }

    div#Entrar{
        width: 35vw;
    }

    #submit{
        width: 40.5vw;
    }

    div#EMS{
        margin-left: 5px;
        width: 40.5vw;
    }

    #Esqueci{
        width: 40.5vw;
    }
}